@import "../../app.scss";

.cursor {
   height: 35px;
   width: 35px;
   border-radius: 50%;
   border: 1.5px solid #fff;
   position: fixed;
   z-index: 999;

   @include mobile {
      display: none;
   }
}